.spinner{
  background: rgba(50, 50, 50, 0.2);
  width: 200px;
  height: 200px;
  border-radius: 6px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
