.title{
  margin-bottom: 5px;
}
.poster{
  display: inline-block;
  width: 280px;
}
.descripton{
  display: inline-block;
  width: 500px;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
}
.genres{
  width: 100%;
}
.genre{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eee;
  padding: 5px 10px;
  margin: 10px 0;
  margin-right: 10px;
}
