.movieView{
  margin: 0 10px;
  overflow: auto
}

.title{
  margin-bottom: 5px;
}

.descripton{
  display: inline-block;
  width: calc(100% - 290px);
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
  word-wrap: break-word;
}

.genres{
  width: 100%;
}

.genre{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eee;
  padding: 5px 10px;
  margin: 10px 0;
  margin-right: 10px;
}

@media (max-width: 650px) {
  .descripton{
    margin-top: 20px;
    width: 100%;
  }
}
