.searchResult{
  width: 100%;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  box-sizing: border-box;
  color: #000;

}

.searchResult a {
  text-decoration: none;
  color: inherit;
}

.movieTitle{
  margin: 0;
  margin-bottom: 5px;
}

.movieOverview{
  margin: 0;
}

.movieDetails{
  vertical-align: top;
  display: inline-block;
  width: 700px;
  margin-left: 10px;
  word-wrap: break-word;
}

.searchResult:last-child{
  border-bottom: 1px solid #aaa;
}

.searchResult:hover{
  background: #00b2ff;
  color: #fff;
}
